/* ----------- MAIN FORMATTING ----------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  /* padding: 3rem; */
  box-sizing: border-box;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.7;
  color: #444;
}

/* ------------- HEADER  --------------- */
.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
      100deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 45%,
      rgba(0, 0, 0, 0) 45%
    ),
    url(../img/2191305.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  /* -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 25% 100%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 25% 100%); */
}

.header__logo-box {
  position: absolute;
  top: 4.5rem;
  left: 4.5rem;
}

.header__logo {
  height: 15rem;
}

.header__text-box {
  position: absolute;
  top: 34%;
  left: 35%;
  text-align: center;
}

.heading-primary {
  text-transform: uppercase;
}

.heading-primary-main {
  transform: translate(-90%, -20%);
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 1.4rem;
}
.heading-primary-sub {
  transform: translate(50%, -160%);
  display: block;
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 1.1rem;
}

.heading-primary-main-marcus {
  color: rgb(28, 28, 28);
  float: left;
}
.heading-primary-main-aurelius {
  color: rgb(81, 81, 81);
  float: left;
  margin-bottom: 5rem;
}

.heading-primary-sub-emperor {
  color: rgb(96, 96, 96);
  float: right;
}
.heading-primary-sub-philosopher {
  color: rgb(180, 180, 180);
  float: right;
}

.heading-secondary {
  font-size: 4.4rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 9rem;
  letter-spacing: 1.1rem;
}

.heading-secondary:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 16%;
  padding-top: 2rem;
  border-bottom: 1px solid rgb(135, 135, 135);
}
/* ------------- SECTION ABOUT   ---------- */

.section-about {
  background-color: #f4ecec;
  padding-bottom: 30rem;
}

.section-about__rows,
.section-stoic__rows {
  padding-top: 8rem;
}

.section-about__img-1,
section-stoic__img-1 {
  width: 90%;
  height: auto;
}

/* ------------- SECTION EARLY   ---------- */

.section-early,
.section-stoic {
  background-color: #fff;
  padding-bottom: 30rem;
}

.section-early__img-1,
.section-stoic__img-1 {
  width: 80%;
  height: auto;
  padding-left: 5rem;
}
.section-early-paragraph-1 {
  padding-top: 16rem !important;
}
/* ------------- SECTION QUOTE ONE -------- */

.quote {
  display: flex;
  background-color: #f4ecec;
  height: 97.5rem;
  position: relative;
  justify-content: center;
  align-items: center;
}

.quote-one__first {
  /* display: block; */
  /*   position: absolute; */
  margin: 0rem auto;
  font-size: 7rem;
  /*   top: 30%; */
  width: 80%;
}

.quote-one__first-paragraph {
  /* margin-left: 10rem;
  margin-right: 10rem; */
  font-family: "Romanesco", "Lato", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.quote-icons {
  height: 6rem;
  /* display: block; */
}

.quote-icons-left {
  margin-top: 0rem;
}

.quote-icons-right {
  margin-top: 4rem;
  display: flex;
  margin-left: 80rem;
  align-items: flex-end;
}
/* -------------  UTILITIES --------------- */

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}
/* ----------- END OF UTILITIES ----------- */

/* ------------  REUSEABLESS -------------- */

.paragraph-1 {
  padding-top: 4.2rem;
  letter-spacing: 0.1rem;
}

.paragraph-1:before {
  content: "";
  display: block;
  margin: -4rem 0rem -2rem -2.5rem;
  width: 20%;
  padding-top: 6rem;
  border-top: 1px solid rgb(215, 215, 215);
  border-left: 1px solid rgb(215, 215, 215);
}

.paragraph-1:after {
  content: "";
  display: block;
  margin: -6rem 0rem 0rem 45rem;
  width: 20%;
  padding-top: 6rem;
  border-bottom: 1px solid rgb(215, 215, 215);
  border-right: 1px solid rgb(215, 215, 215);
}

.paragraph-1-first-letter {
  color: rgb(106, 0, 35);
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 50px;
  padding-top: 0px;
  padding-right: 8px;
  padding-left: 3px;
}

/* -------- END OF REUSEABLESS ------------ */

/* ---------------------------------------- */
/* -------------- GRID LAYOUT ------------- */
/* ---------------------------------------- */

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^="col-"] {
  float: left;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 56.25em) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  .row [class^="col-"] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - (6rem * 2)) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - (6rem * 2)) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - (6rem * 3)) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - (6rem * 3)) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - (6rem * 3)) / 4) + (6rem * 2));
}
/* ---------------------------------------- */
/* ----------- END OF GRID LAYOUT --------- */
/* ---------------------------------------- */
